@import "compass";

/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "Glyphicons Halflings";
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), 
    url('../fonts/glyphicons/glyphicons-halflings-regular.woff') format('woff'), 
    url('../fonts/glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('../fonts/glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    font-style: normal;
    font-weight: normal;



}
/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PFCentroSlabProMedium"; */
@font-face {
    font-family: "PFCentroSlabProMedium";
    src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot");
    src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff") format("woff"),
    url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "*"; */
@font-face {
    font-family: "fontawesome-webfont";
    src: url("../fonts/fontawesome/fontawesome-webfont.eot");
    src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix")format("embedded-opentype"),
    url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"),
    url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* font-family: "*"; */
@font-face {
    font-family: "*";
    src: url("../fonts/*/*.eot");
    src: url("../fonts/*/*.eot?#iefix")format("embedded-opentype"),
    url("../fonts/*/*.woff") format("woff"),
    url("../fonts/*/*.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
