@import "compass";
@import "_mixin.scss";
@import "_fonts";
@import "_vars";
$green-color:#67bc5c;

body{

}
.top-line{
	background: linear-gradient(darken(lime, 15%) lighten(red, 7%));
	color: #FFF;
}
.logo-nav{
	height: 150px;
	//border: 1px solid #000;
}
.logo{
	//background: lime;
	height: 100%;
	padding-top: 0px;
	padding-left: 0;
	img{
		height: 100%;
		float: left;
		//background: red;
	}
}
.slogan{
	//background: green;
	height: 100%;
	padding-top: 60px;

	p{
		//color: red;
		font-size: 20px;
		font-weight: bold;
		line-height: .7;
		text-transform: uppercase;
		font-family: "open sans", sans-serif;
		font-style: italic;
	}
	.arab{
		font-size: 29px;
	}
}
.top-contact{
	//background: yellow;
	height: 100%;
	padding-top: 20px;
	text-align: right;
	h5{
		font-weight: bold;
		font-style: italic;
		margin-bottom: 15px;
	}
	p{
		line-height: .5;
		font-weight: bold;
		font-style: italic;
	}
}
.nav-bar{
	text-align: center;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		//background: red;
		font-size: 0;
		margin-bottom: 10px;

		li{
			display: inline-block;
			//border: 1px solid #fff;
			-webkit-border-radius: 7px;
			        border-radius: 7px;
			background: linear-gradient(green red);
			background: linear-gradient(darken(lime, 15%) lighten(red, 7%));
			font-size: 17px;
			font-weight: bold;
			font-style: italic;
			margin-right: 5px;
			a{
				text-decoration: none;
				padding-left: 30px;
				padding-right: 30px;
				padding-top: 10px;
				padding-bottom: 15px;
				display: block;
				color: #FFF;
				&:hover{
					background: linear-gradient(lime,red);
					color: yellow;
					-webkit-border-radius: 7px;
					border-radius: 7px;
				}
			}
		}

	li.little{
			display: none;
		}
	}
}
.slider{
	.carousel.fade{
		opacity: 1 !important;
		.item.active{
			opacity: 1;
			position: relative;
			z-index: 2;
		}
		.item{
			opacity: 0;
			transition: opacity 2s;
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}
	}
	.carousel{
		.carousel-control{
			z-index: 10;
		}
		.carousel-inner{
			.item{
				height: 717px;
				.item-slide{
					background-size: cover;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-position: center center;
					transition:all 2s ease;
				}
				.container{
					position: relative;
					.carousel-caption{
						position: absolute;
						top: 245px;
						z-index: 2;
						h1{
							font-size: 48px;
							color:#fff;
							font-weight: bold;
							font-family: "open sans", sans-serif;
						}
						h3{
							font-size: 30px;
							color:#fff;
							font-family: "open sans", sans-serif;
							margin-bottom: 40px;
						}
						.btn{
							padding: 15px 40px;
							font-size: 22px;
							background: lighten(#d51e08,  5%);
							-webkit-border-radius: 10px;
							border-radius: 10px;
							text-transform: uppercase;
							outline: none;
							&:hover{
								background: darken(green,  5%);
								color:#fff;
							}
						}
					}
				}
			}
		}
		.carousel-indicators-wrap{
			position: absolute;
			width: 100%;
			bottom:-5%;
			.carousel-indicators{
				background: #eee;
				padding: 3px 15px!important;
				margin: 0 auto;
				transform:translateX(-50%);
				width: auto;
				border: 1px solid #ccc;
				border-radius: 3px;
				li{
					margin-right: 5px;
					background: #ccc;
					&.active{
						background: gray;
						width: 10px;
						height: 10px;
					}
				}
			}
		}
	}
}

.about{
	padding-top: 50px;
	background: linear-gradient(lighten(blue, 25%) darken(#4de009,45%) );
	position: relative;
	h1{
		text-align: center;
		margin-bottom: 40px;
		color: #FFF;
		font-style: italic;
		letter-spacing: 5px;
		text-transform: uppercase;
	}


}
.saveur{
	margin-bottom: 20px;
	//background: blue;
	position: relative;
	a{
		font-size: 16px;
            font-weight: bold;
            padding: 8px 35px;
		letter-spacing: 7px;
		font-style: italic;
		position: absolute;
		right: 50px;
		bottom: -70px;
		border: none;
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background: linear-gradient(lighten(lime, 10%)  lighten(blue, 10%));
		color: #FFF;
		&:hover{
			background: linear-gradient(lighten(blue, 5%) lighten(lime, 5%));
			text-decoration: none;
		}
	}

	p{
		margin-bottom: 5px;
		font-size: 22px;
		font-style: italic;
		color: #FFF;
		font-weight: bold;
		strong{
			color: lighten(lime, 35%);
			font-size: 22px;
			text-transform: uppercase;
		}
	}
}
.about-saveur{
	margin-bottom: 200px;
}
.saveur-img{
	padding-left: 30px;
	padding-bottom: 90px;
	//background: red;
	img{
		width: 100%;
		margin-top: -50px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}

}
.bxslider1 {
    margin: 0 auto;
    border: none;
    background: #FFF;
    overflow: hidden;
    .bx-slider-wrap {
        position: relative;
        // height: 500px;
    }
    .bx-pager-link {
        display: none!important;
    }
    .outside {
        text-align: center!important;
        // margin-bottom: 100px;
    }
    .bx-wrap {
        height: 500px;
        //border: 1px solid gray;
        //margin-bottom: 100px;
    }
    .bx-next {
        margin-left: 50px!important;
        position: absolute;
        top: 30%;
        right: 10px;
    }
    .bx-prev {
        margin-right: 50px!important;
        position: absolute;
        top: 30%;
        left: 10px;
    }
    .bx-viewport {
        border: none !important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    .price-list-wrap {
        position: absolute;
        bottom: 0%;
        text-align: center;
        //background: red;
        width: 100%;
        a {
            padding: 3px 50px;
            background: lighten(#2B4C00, 15%);
            -webkit-border-radius: 7px;
            border-radius: 7px;
            display: inline-block;
            color: #FFF;
            &:hover {
                text-decoration: none;
                color: yellow;
            }
        }
    }
    ul {
        list-style-type: none;
        border: none;
        width: 100%;
        color: darken(#ccc, 20%);
        li {
            float: left;
            text-align: center;
            padding-bottom: 100px;
            border: none;
            padding-bottom: 10px!important;
            a {
                text-decoration: none;
                color: #000;
                font-style: italic;
                text-align: center;
                border: none;
            }
            h3 {
                padding: 0;
                margin: 0;
                font-weight: bold;
            }
            img {
                width: 250px;
                margin: 0 auto;
                margin-bottom: 30px;
            }
            table {
                width: 30%;
                font-size: 16px;
                margin: 0 auto;
                tr {
                    border: 1px solid lighten(#ccc, 10%);
                    border-left: none;
                    border-right: none;
                    &:nth-child(3) {
                        td {
                            font-size: 12px;
                        }
                    }
                }
                tr:first-child {
                    border: none;
                }
                tr:last-child {
                    color: darken(#ccc, 20%);
                }
                td {
                    padding: 7px 10px;
                    font-size: 18px;
                    font-style: italic;
                    font-weight: bold;
                    vertical-align: bottom;
                    white-space: nowrap;
                    &:first-child {
                        border: none;
                    }
                    &.price {
                        font-size: 24px;
                        font-style: italic;
                        font-weight: bold;
                        color: #6B9329;
                    }
                }
            }
        }
    }
}
//================================================================
//ALWAYS END
@import "media";

